<div class="tabs">
  <input type="radio" id="tab1" name="tab-control" checked (click)="selectedTab = 'register'">
  <input type="radio" id="tab2" name="tab-control" (click)="selectedTab = 'deliver'">
  <ul>
    <li title="Registro de Inventario">
      <label for="tab1" role="button"><span>Registro de Inventario</span></label>
    </li>
    <li title="Entregar Inventario">
      <label for="tab2" role="button"><span>Entregar Inventario</span></label>
    </li>
  </ul>

  <div class="content">
    <section *ngIf="selectedTab === 'register'">
      <app-register></app-register>
    </section>
    <section *ngIf="selectedTab === 'deliver'">
      <app-deliver></app-deliver>
    </section>
  </div>
</div>
